@charset "EUC-KR";
body
{
	margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
	font-family: 'Malgun Gothic' !important;
	color: #c4c3ca;
	overflow:auto;
}
body::-webkit-scrollbar {
  display: none;
}
.wtbl {
  border-collapse: separate;
  border-spacing: 0;
  margin-left: 20px;
  margin-top: 20px;
}
.dtbl {
  border-collapse: separate;
  border-spacing: 0;
  margin-left: 20px;
  margin-top: 20px;
}
.etbl {
  margin-left: 0px !important;
  margin-top: 0px !important;
  width:100%;
}
.eftbl {
  margin-left: 0px !important;
  width:100%;
}
.rtbl {
  border-collapse: separate;
  border-spacing: 0;
  right:20px;
  top:20px;
  position:absolute;
}
th,td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: center !important;
  height:20px; 
}
.eftbl th {
  background: #8DDF8A;
  color: #000;
  text-align: center !important;
  height:20px; 
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
.wtbl td{
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
  font-size:12pt;
  line-height:1.8em;
  vertical-align:middle;
  text-align: center;
}
.rtbl td{
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
  font-size:15pt;
  line-height:1.8em;
  vertical-align:middle;
}
.dtbl td{
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
  font-size:16pt;
  line-height:1.8em;
  vertical-align:top;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
.wtbl tr:nth-child(even) td {
  #background: #eaeaed;
}
.rtbl tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
.w80{	width:80px;}
.w150{	width:150px;}
.w250{	width:250px;}
.w350{	width:350px;}
.w370{	width:370px;}
.w450{	width:450px;}
.w500{	width:500px;}
.w750{	width:750px;}
.w900{	width:900px;}

.mem1title
{
	background: #073763;
}
.mem2title
{
	background: #274e13;
}
.mem3title
{
	background: #660000;
}
.mem4title
{
	background: #7f6000;
}
.mem1
{
	background: #e6f3ff;
}
.mem2
{
	background: #eff7ec;
}
.mem3
{
	background: #feefef;
}
.mem4
{
	background: #fff9e9;
}
.login-body{	
	height:100vh;
	display:flex;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	overflow: hidden;
}
.login
{
	width : 100%;
	height :100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-form
{
	width: 300px;
	border : 0;
	background-color : #020715;
	padding : 20px;
	margin : 0 auto;	
}
.text-field
{
	width: 280px;
	margin-bottom : 15px;
	border:none;
	border-radius:5px;
	padding : 10px;
}
.submit-div
{
	width:100%;
	text-align:center;
}
.submit-btn
{
	width: 150px;
	background-color : #ffeba7;
	color: #102770;
	box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
	margin-bottom : 20px;
	margin-top : 20px;
	padding : 10px;
	border:none;
	border-radius:5px;
	cursor:pointer;
}
.submit-btn:hover
{
	background-color: #102770;
	color: #ffeba7;
	box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.upt-btn
{
	width: 100%;
	height:40px;
	background-color : #d7cecf ;
	color: #000;
	box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
	cursor:pointer;
	margin : 0px !important;
	padding :0px !important;
}
.login-title
{
	font-weight:bold;
	font-size : 24pt;
	padding-bottom : 40px;
	text-align:center;
}
.main_logo
{
	padding-right:20px;
	
}
.if
{
	display: block; 
	width : 100%; 
	height: 100vh;
	margin : 0px;
	border-width : 0px;
}
.sif
{
	display: block; 
	width : 1200px; 
	height: 100vh;
	margin : 0px;
	border-width : 0px;
}
.dt
{
	text-align:center;
	width:120px;
	color:rgba(255,255,255,1);		
	border:0px solid #000;
	font-size:14pt;
	font-weight:bold;
	border-bottom:1px solid rgba(255,255,255,1) ;
}
.mem_name
{
	font-size:16pt;
	margin-left:5px;
}
.mem_name:first-letter
{
	font-size:16pt;
}
.sel
{
	color:#D2F5FF !important;
	font-weight:bold !important;
}
.cloud_dropdown-menu
{
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	display:none;
	float:left;
	min-width:10rem;
	padding:.5rem 0;
	margin:.125rem 0 0;
	font-size:1rem;
	color: #c4c3ca;
	text-align:left;
	list-style:none;
	background-color:#4e565f!important;
	background-clip:padding-box;
	border:1px solid #c4c3ca !important;
	border-radius:.25rem
}
.cloud-dropdown-item
{
	display:block;
	width:100%;
	padding:.25rem 1.5rem;
	clear:both;
	font-weight:400;
	color: #ebebed;
	text-align:inherit;
	white-space:nowrap;
	background-color:transparent;
	border:0
}
.cloud-dropdown-item:focus,.cloud-dropdown-item:hover
{
	color:#16181b;
	text-decoration:none;
	background-color:#e9ecef
}
.cloud-dropdown-item.active,.cloud-dropdown-item:active
{
	color:#000;
	text-decoration:none;
	background-color:#c8e2ff
}
.cloud-dropdown-item.disabled,.cloud-dropdown-item:disabled
{
	color:#adb5bd;
	pointer-events:none;
	background-color:transparent
}
.div_editor 
{
	padding: 16px 24px;
	border: 1px solid #000;
	border-radius: 4px;
	overflow:  auto;
	width:700px;
	height:530px;
}
.div_note
{
	width:350px;
	height:150px;
}
.div_wj
{
	width:350px;
	height:300px;
}
.span_editor
{
	background-color: #e1dde3;
 	border : 2px solid #000;
 	text-align:center;
 	font-size:12pt; 
 	cursor:pointer;
 	width:60px;
 	text-align:center;
}
.span_editor2
{
	background-color: #e1dde3;
 	border : 1px solid #000;
 	text-align:center;
 	font-size:12pt !important; 
 	cursor:pointer;
 	width:80px;
 	height:30px;
 	text-align:center;
 	vertical-align:middle;
 	line-height:1em !important;
}
button:hover
{
	background-color: #988aa2;	
}
button:active
{
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.nb
{
	border : 0px solid #fff !important;
}
.funbut
{
	float:left;
	background-color:#343a40;
	color : white;
	font-size:12pt;
}

.eftbl td
{
	border:0px solid #fff;
	text-align:center;
}
.btn_s
{
	text-decoration: line-through;
}
.btn_u
{
	text-decoration: underline;
}


.custom-context-menu 
{
  position: absolute;
  box-sizing: border-box;
  min-height: 25px;
  min-width: 180px;
  background-color: #ffffff;
  box-shadow: 0 0 1px 2px lightgrey;
}

.custom-context-menu ul {
  list-style: none;
  padding: 0;
  background-color: transparent;
}

.custom-context-menu li {
  padding: 3px 5px;
  cursor: pointer;
}

.custom-context-menu li:hover {
  background-color: #f0f0f0;
}  
.addmemborder
{
	border:2px solid #634832 !important;
	background-color: #ece0d1 !important;
}
.manage_top
{
	width:1000px;
	margin-left: 20px;
	text-align:center;
	margin-top: 20px;
}
.manage_bottom
{
	width:1000px;
	text-align:right;
	color:#990000;
	font-weight:bold;
	margin-left: 20px;
}

.keyword
{
	background-color:#ECB601;
}
.sdiv
{
	position:fixed;
	top:10px;
	right:10px;	
	display:none;
}
.sth
{
	background-color:#A1AACE;
	text-align:center;
	vertical-align:middle;
	border-bottom : solid 1px #fff !important;
	border-left : solid 0px #000 !important;
}
.sdiv-td
{
	border-bottom : solid 1px #000;
}
.sdiv-ntd
{
	border-bottom : solid 0px #000;
}
.sbut
{
	background-color:#A1AACE;
	text-align:center;
	cursor:pointer;
}
.sbut:active
{
	box-shadow: 0 8px 24px 0 #b7b9c1;	
}
.noti_th
{
	background-color:#A1AACE;
	text-align:center;
	vertical-align:middle;
}
.noti_td
{
	vertical-align:middle;
	border: solid 1px #b7b9c1 !important;
}

.sctbl td
{
	font-size:12pt !important;
}

.insert_info
{
	width:100%;
	height:100%;
	background-color: rgba(79,79,79,0.8);
	display:none;
	position:fixed;
	z-index:99;
	
}
.insert_detail
{
	position:fixed;
	left:calc(50% - 250px);
	top:calc(50% - 135px);
	width:500px;
	height:270px;
	background-color: rgba(255,255,255,1);
	border: 10px double #634832 ;
	vertical-align:middle;
}
.align_center
{
	text-align:center;	
}
.input_img
{
	cursor:pointer;
}
.input_sub
{
	font-weight:bold;
}
.insert_but
{
	width:100%;
	padding-top:5px;
	text-align:right;
}
.input_tbl
{
	padding-top:10px;
}
 .lp
 {
 	padding-left:80px;
 }

.manual
{
	text-decoration: underline;
	color: #0099ff;
	font-size:9pt;
	cursor:pointer;
}
.cal_label
{
	font-size:20px;
	padding-left:30px;	
}
.hrline
{
	margin-left : 20px;
	margin-right : 20px;
	margin-top : 30px;
	border : 2px solid #020715;
}
.mon_cont
{
	font-size:9pt !important;
}


.sp_data
{
	display:flex;
	width:100%;
	height:50%;
	background-color: #2f2420;
}
.sp_cloud
{
	width:100%;
	height:50%;
	background-color: #1e2142;
}
.sp_content
{
	width:100%;
	padding-top:180px;
	font-size:60pt;
	vertical-align:middle;
	text-align:center;
	color:white;
	
}
.edit_cell
{
	border : 2px solid #7F0000 !important;	
}